<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">
   <div class="header">
      <div class="container-fluid">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SpinnerBank</a>
            
         </div>
         <div class="nav navbar-nav" id="bs-example-navbar-collapse-1">
            {{#if isAuthenticated}}
               <ul class="nav navbar-nav">               
                  <li>{{#link-to "clientes"}}Clientes{{/link-to}}</li>              
               </ul>
            {{/if}}
         </div>
         <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" id="bs-example-navbar-collapse-1">
               {{#if isAuthenticated}}
                  <li><p class="navbar-text">Bienvenid@ {{nombreAsesor}} {{apellidoAsesor}}</p></li>
                  <li>{{#link-to "login"}}Logout{{/link-to}}</li>
               {{else}}
                  <li>{{#link-to "login"}}Login{{/link-to}}</li>
               {{/if}}
               <li>{{#link-to 'contacto'}}Soporte{{/link-to}}</li>
            </ul>
         </div>
      </div>
   </div>
</nav>

<div class="container">
  {{outlet}}
</div>

<div class="footer">
   <div class="navbar navbar-fixed-both">
      <div class="container">
         <p>
            <span class="halflings halflings-piggy-bank"></span>
             Desarrollado por REMEMBER
         </p>
      </div>
   </div>   
</div>