<!-- Sección de Busqueda del Cliente -->
<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><strong>Buscar cliente: </strong></h3>
    </div>
    <div class="panel-body" style="clear:both">
    <form class="form-inline" {{action "searchProd" on="submit"}}>
      <table>
      <tr>
         <td>
            <div class="container-fluid" >
              <label>Tipo de Documento:</label>

              <select class="form-control">
              <option value ="cc" id ="cedula">Cédula de Ciudadanía</option>

              <option value ="ce" id ="cedula">Cédula de Extranjería</option>

              <option value ="nit" id ="cedula">NIT</option>
              </select>
             
              
             
            </div>
         </td>
         <td>
         <div class="container-fluid" >
<label>Numero de Documento:</label>

              
              {{input type="integer" class="form-control" value=idClient required="true"}}
              
              </div>
              </td>
               <td>
               <div class="container-fluid" >
                <button type="submit" class="btn btn-info">Buscar</button>
               </div>
         </td>          </tr>
       </table>
      
    </form>
    </div>
    {{#if isFailed}}
    <div class="alert alert-danger" role="alert">
      <span class="error"></span>
      <span class="sr-only">Error:</span>
      El  documento {{idClient}} no es valido.
    </div>
    {{/if}}

  </div>
</div>

{{#if isCommit}}
{{outlet "tabla"}}
{{/if}}
