<div class="container">    
    <div class="navbar" id="main">    
        <div class="col-md-6">
            <div class="well sidebar-nav">
                <strong>Buscar Cliente: </strong>
                <script type="text/x-handlebars" id="tipoid-selectclient">
                    <h1>Tipo de identificación</h1>
                    
                </script>    
                <p>{{input type="text" value=idClient placeholder=" Número de identificación: "}}</p>   
                <strong>Tipo de Identificación</strong>


                <p> <select class="selectpicker" data-style="btn-primary">
                    <option>Cédula de Ciudadanía</option>
                    <option>Tarjeta de Identidad</option>
                    <option>Cédula de Extranjería</option>
                  </select>
                  </p>
                  <script>
                    $('.selectpicker').selectpicker();
                    </script>

            </div>
            
        </div>        
    </div> 
</div> 