<div class="container-fluid">
    <div class="jumbotron text-center">
        <h1>SpinnerBank</h1>
        <br>
        <br>
        <p>Bienvenidos al banco para hacer los sueños de los perros realidad</p>
    </div>
</div>    
    