<div class="container-fluid">
    <form class="form-signin">
        <h2 class="form-signin-heading text-center">Por favor loguese</h2>
        <label for="inputEmail" class="sr-only">Direcci칩n de Correo</label>
        {{input type="email" id="inputEmail" value=entradaEmail class="form-control" placeholder="Direcci칩n de Correo"}}         
        <label for="inputPassword" class="sr-only">Constrase침a</label>
        {{input type="password" id="inputPassword" value=entradaPassword class="form-control" placeholder="Contrase침a"}}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
    </form>
</div>